@mixin for-all-vendor($property, $value) {
  -webkit-#{$property}: $value;
  -ms-#{$property}: $value;
  #{$property}: $value;
}

* {
  margin: 0;
  padding: 0;
  @include for-all-vendor(box-sizing, border-box);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}
