* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}
