@mixin for-all-vendor($property, $value) {
  -webkit-#{$property}: $value;
  -ms-#{$property}: $value;
  #{$property}: $value;
}

* {
  margin: 0;
  padding: 0;
  @include for-all-vendor(box-sizing, border-box);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.Header {
  width: 100%;
  background-color: #1f2125;
  font-size: calc(10px + 3vmin);
  color: rgb(238, 236, 236);
  padding: 1vmin;
  text-align: center;
  font-size: 6vh;
  font-family: "Architects Daughter", cursive;
}

.Setting {
  position: fixed;
  margin-right: 0;
}
