.Converter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.radix-number-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 5vmin;
}
.radix-number-container .radix-number:focus {
  outline: 0;
  text-shadow: 0px 2px 2px;
}
