.Converter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3vmin;
}
.radix-number-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 5vmin;
}
.radix-number-container .radix-number:focus {
  outline: 0;
  filter: invert(0.5);
}
