@mixin for-all-vendor($property, $value) {
  -webkit-#{$property}: $value;
  -ms-#{$property}    : $value;
  #{$property}        : $value;
}

.Converter {
  display       : flex;
  flex-direction: column;
  align-items   : flex-start;
  position      : relative;
  width         : 100%;
  margin        : 3vh 0;

  .number-line {
    width         : 100%;
    font-size     : 7vmin;
    padding       : 0 5vw;
    display       : flex;
    flex-direction: row;
    flex-wrap     : wrap;

    .equal-sign {
      font-family : "Cutive Mono", monospace;
      font-size   : 1.1em;
      margin-right: 0.2em;
    }

    .number-container {
      display        : flex;
      flex-direction : row;
      align-items    : flex-end;
      justify-content: flex-start;

      .number:focus {
        text-shadow  : 0 0.04em 0.04em;
        border-bottom: solid 0.04em;
      }

      .number {
        border   : none;
        overflow : hidden;
        outline  : none;
        max-width: 60vw;
        @include for-all-vendor(box-shadow, none);
        white-space: pre-wrap;
        word-wrap  : break-word;
      }

      .radix {
        display  : table-cell;
        font-size: 0.5em;
      }
    }

    .stepButtons {
      display       : flex;
      flex-direction: row;
      margin        : auto 0 auto auto;
      text-align    : center;

      button {
        background-color: rgb(80, 80, 80);
        font-family     : "Cutive Mono", monospace;
        font-weight     : 500;
        color           : white;
        width           : 1em;
        height          : 1em;
        font-size       : 0.8em;
        margin-left     : 3vmin;
      }

    }
  }
}