.Header {
  width      : 100%;
  font-size  : 7vmin;
  font-weight: 600;

  .MuiAccordion-root {
    display       : flex;
    flex-direction: column;
    transition    : background-color 0.5s;
    transition    : color 0.5s;

    .MuiAccordionSummary-root {
      width  : 100%;
      margin : 0;
      padding: 0;

      .MuiAccordionSummary-content {
        margin         : 2.5vh 5vw;
        display        : flex;
        flex-direction : row;
        justify-content: space-between;
        align-items    : center;

        #title {
          #github-logo {
            display: inline-block;
            width  : 0.5em;
            height : 0.5em;
            margin : 0 0.1em;
          }
        }

        #expand-icon {
          height: 0.4em;
        }
      }
    }

    .MuiAccordionDetails-root {
      display       : flex;
      flex-direction: column;
      font-size     : 0.6em;
      padding       : 0;
      margin        : 1vh 5vw 2.5vh 5vw;

      #decimal-places-prompt {
        display       : flex;
        flex-direction: row;
        flex-wrap     : wrap;
        width         : 100%;

        #decimal-places {
          display        : flex;
          justify-content: center;
          align-items    : center;
          margin         : -0.1em 0.5em 0 0.5em;
          padding        : 0 5px;
          border-bottom  : solid 1px;
          max-width      : 40vw;
          overflow       : hidden;
          text-overflow  : clip;
          white-space    : nowrap;

          &:focus {
            outline: 0;
          }
        }
      }

      #radix-buttons {
        display    : flex;
        align-items: center;
        flex-wrap  : wrap;
        margin     : 2vh 0 0 -0.2em;

        button {
          width        : 6.5vmin;
          height       : 6.5vmin;
          font-size    : 3.5vmin;
          margin       : 1vmin;
          font-family  : "Cutive Mono", monospace;
          border       : none;
          color        : white;
          border-radius: 50%;
          outline      : 0;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}