@mixin sliderHandle {
  -webkit-appearance: none;
  appearance: none;
  width: 4vmin;
  height: 4vmin;
  border-radius: 50%;
  background: #222222;
  cursor: pointer;
}

#Setting {
  display: flex;
  flex-direction: column;
  padding: 2vmin;
  font-size: 3.5vmin;
  // font-size: 4vmin;
  // font-family: "Architects Daughter", cursive;
  width: 100vw;
}

#set-radixes {
  display: flex;
  flex-direction: column;
  align-items: center;

  #radix-buttons {
    display: flex;
    flex-wrap: wrap;
  }

  button {
    min-width: 5vmin;
    min-height: 5vmin;
    font-size: 2.5vmin;
    border: none;
    margin: 0.3vmin;
    color: white;
    text-align: center;
    border-radius: 50%;
    outline: 0;

    &:hover {
      cursor: pointer;
    }
  }
}

#slidecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 5vmin;
  margin-bottom: 5vmin;
  width: 100%;

  .slider {
    appearance: none;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
    height: 40%;
    width: 100%;
    border-radius: 10px;
    margin-top: 1vmin;

    &:hover {
      opacity: 1;
    }

    &::-webkit-slider-thumb {
      @include sliderHandle();
    }

    &::-moz-range-thumb {
      @include sliderHandle();
    }
    &::-ms-thumb {
      @include sliderHandle();
    }
  }
}
