.Setting {
  font-family: "Inconsolata", monospace;
  width: 100%;
}
.Setting .MuiExpansionPanelDetails-root {
  display: flex;
  flex-direction: column;
  font-size: 4vmin;
}
#title {
  text-align: center;
  font-size: 5vmin;
}
#title #github-logo {
  display: inline-block;
  width: 3vmin;
  height: 3vmin;
}
#expand-icon {
  height: 2vmin;
}
#set-radixes {
  display: flex;
  align-items: center;
  margin-bottom: 2vmin;
}
#set-radixes #radix-buttons {
  display: flex;
  flex-wrap: wrap;
}
#set-radixes button {
  width: 3.5vw;
  height: 3.5vw;
  font-size: 1.5vw;
  margin: 0.5vmin;
  font-family: "Inconsolata", monospace;
  background-size: 100%;
  border: none;
  color: white;
  text-align: center;
  border-radius: 50%;
  outline: 0;
}
#set-radixes button:hover {
  cursor: pointer;
}
input {
  all: unset;
  text-decoration: underline gray;
  margin-left: 0.5ch;
  margin-right: 0.5ch;
  text-align: center;
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
input:focus {
  outline: 0;
}
