.Setting {
  display: flex;
  flex-direction: column;
  padding: 2vmin;
  font-size: 4vmin;
  font-family: "Inconsolata", monospace;
  width: 100vw;
}
#set-radixes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#set-radixes #radix-buttons {
  display: flex;
  flex-wrap: wrap;
}
#set-radixes button {
  width: 2.2vw;
  height: 2.2vw;
  margin: 0.37vmin;
  font-family: "Inconsolata", monospace;
  background-size: 100%;
  font-size: 2.5vmin;
  border: none;
  color: white;
  text-align: center;
  border-radius: 50%;
  outline: 0;
}
#set-radixes button:hover {
  cursor: pointer;
}
#set-radixes button#github-logo {
  background-image: url("../assets/github.png");
}
#slidecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 5vmin;
  margin-bottom: 1vh;
  width: 100%;
}
#slidecontainer .slider {
  appearance: none;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  height: 40%;
  width: 100%;
  border-radius: 10px;
  margin-top: 1vmin;
}
#slidecontainer .slider:hover {
  opacity: 1;
}
#slidecontainer .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 4vmin;
  height: 4vmin;
  border-radius: 50%;
  background: #222222;
  cursor: pointer;
}
#slidecontainer .slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 4vmin;
  height: 4vmin;
  border-radius: 50%;
  background: #222222;
  cursor: pointer;
}
#slidecontainer .slider::-ms-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 4vmin;
  height: 4vmin;
  border-radius: 50%;
  background: #222222;
  cursor: pointer;
}
