@mixin for-all-vendor($property, $value) {
  -webkit-#{$property}: $value;
  -ms-#{$property}: $value;
  #{$property}: $value;
}

@mixin sliderHandle {
  -webkit-appearance: none;
  appearance: none;
  width: 4vmin;
  height: 4vmin;
  border-radius: 50%;
  background: #222222;
  cursor: pointer;
}

#github-logo {
  width: 1vw;
  height: 1vw;
  background-size: 100%;
  background-image: url("../assets/github.png");
}

.MuiExpansionPanelSummary-content {
  display: flex;
  justify-content: center;

  a {
    vertical-align: baseline;
  }
}

.Setting {
  font-size: 4vmin;
  font-family: "Inconsolata", monospace;
  width: 100vw;

  .MuiExpansionPanelDetails-root {
    display: flex;
    flex-direction: column;
  }
}

#set-radixes {
  display: flex;
  margin-bottom: 2vmin;

  #radix-buttons {
    display: flex;
    flex-wrap: wrap;
  }

  button {
    width: 2.2vw;
    height: 2.2vw;
    margin: 0.37vmin;
    font-family: "Inconsolata", monospace;
    background-size: 100%;
    font-size: 2.8vmin;
    border: none;
    color: white;
    text-align: center;
    border-radius: 50%;
    outline: 0;

    &:hover {
      cursor: pointer;
    }
  }
}

input {
  all: unset;
  text-decoration: underline gray;
  margin-left: 0.5ch;
  margin-right: 0.5ch;
  text-align: center;
  // hide arrow
  -moz-appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    @include for-all-vendor(appearance, none);
  }

  &:focus {
    outline: 0;
  }
}
