* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.App {
  display: grid;
  grid-template: 1fr/ 1fr;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}
.header {
  background-color: #1f2125;
  font-size: calc(10px + 3vmin);
  color: #eeecec;
  padding: 3vmin;
}
