.Converter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3vmin;
}
.Converter *:focus {
  outline: 0;
}
.Converter input {
  all: unset;
}
.RadixNumber {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
